.col-md-3
.well.col-md-6
  %legend
    %h2
      Sign in
  = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form form-horizontal" }) do |f|
    .form-group
      = f.label :email, class: "control-label col-sm-3"
      .controls.col-sm-9
        = f.email_field :email, autofocus: true, class: 'form-control'
    .form-group
      = f.label :password, class: "control-label col-sm-3"
      .controls.col-sm-9
        = f.password_field :password, autocomplete: "off", class: 'form-control'
    - if devise_mapping.rememberable?
      .form-group
        .col-sm-offset-3.col-sm-9
          .checkbox
            %label
              = f.check_box :remember_me
              Remember me          
    .form-group
      .col-sm-offset-3.col-sm-9
        = f.submit "Log in", class: "btn btn-primary"
        %hr/
        = render "devise/shared/links"
  
.col-md-3
